.game-container {
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgb(2, 126, 143));
  width: 100%;
  min-height: 100%;
  position: absolute;
}
h1 {
  text-align: center;
  margin: 40px 0 70px;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  color: #00315d;
}
.game-board {
  display: inline-block;
}
.square {
  background: #f1f5d4bd;
  border: left;
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0;
  width: 80px;
  height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80px;
  box-shadow: 10px 10px 5px #4e4f54;
  border-radius: 10px;
}
.square:focus {
  outline: none;
}
.border-row {
  clear: both;
  content: "";
  display: table;
}
.game {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
}
.game-info {
  margin-left: 30px;
  margin-top: 10px;
}
.game-info-title {
  border-radius: 5px;
  font-size: 10px;
  color: white;
  background: #02053a61;
  margin-bottom: 20px;
  height: 30px;
  padding: 10px 5px 0px;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  text-align: center;
  width: 130px;
}
.status {
  margin-bottom: 10px;
}
.game-span {
  font-size: 18px;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  color: #19ff2b;
}
.game-btn {
  border-radius: 5px;
  width: 140px;
  height: 55px;
  font-size: 16px;
  background-color: #02053aa1;
  color: white;
  border: 0;
  outline: none;
  cursor: pointer;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  line-height: 25px;
}
.gitHub {
  font-size: 12px;
  font-family: Pixel, Arial, Helvetica, sans-serif;
  color: #00315d;
  padding: 40px 0;
  margin: 0;
  text-align: center;
  text-decoration: none;
  display: block;
}

@media (max-width: 440px) {
  .game {
    display: block;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
  }

  .game-info {
    text-align: center;
    padding: 30px;
    margin-left: 0;
    display: inline-block;
  }

  .gitHub {
    font-size: 12px;
    font-family: Pixel, Arial, Helvetica, sans-serif;
    color: #00315d;
    padding: 20px 0 40px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    display: block;
  }
}